*{
    margin: 0;
}

html, body{
    height: 100px;
}

header{
    background: darkorange;
    font-size: 18px;
    color: #f4f4f4;
    line-height: 40px;
    text-align: center;
    font-family: sans-serif;
}

.capa img{
    width: 100%
}

h1{
    text-align: center;
    padding-top: 10px;
}

p{
    margin: 30px auto 30px auto;
    width: 900px;
}

.cards-pokemons{
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
}
 .cards-pokemons .card.card-sombra img{
    width: 150px;
    height: 150px;
    margin: 15px 0;
 }

 .card{
    width: 320px;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffb500;
    margin: 0 30px 0 0;
    border-radius: 12px;
 }

 .card-sombra{
    box-shadow: inset 0 0 15px 12px #ed8317;
}

.cards-pokemons .card.card-sombra h2{
    color: white;
    font-size: 29px;
    font-family: sans-serif;
}

.informacoes{
    width: 100%;
    margin: 12px 0;
}

.card ul{
    font-size: 18px;
    color: #fff;
    font-family: sans-serif;
    line-height: 32px; 
}

.galeria-de-imagens img{
    width: 315px;
    margin: 10px;
    box-sizing: 10px 10px 10px #939393;
    border: 1px solid gray;
    border-radius: 12px;
}

.galeria-de-imagens{
    margin: 0 auto 40px auto;
    width: 85%;
}

footer{
    color: white;
    background-color: #ed8317;
    line-height: 40px;
    text-align: center;
    font-size: 24px;
}